*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #33ccff, #81d5ff, #ffccff, #81d5ff);
}



.container{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255,.6);
}

.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    border-radius: 7px 7px 0 0;
    background: rgba(255, 255, 255,.8);
}

.container .navbar .logo{
    display: flex;
    align-items: center;
}

.container .navbar .logo .logoname{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: .5em;
}
.container .navbar .searchbox{
    position: relative;
}
.container .navbar .searchbox input{
    padding: 8px 120px 8px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: 3s;
    background: rgb(133, 130, 130);
    color: white;
    
}
.container .navbar .searchbox input::placeholder{
    color: white
}
.container .navbar .searchbox input:focus{
     padding: 8px 250px 8px 20px;
}
.container .navbar .searchbox .fa{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}
.container .navbar .navitem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .navbar .lang select{
    padding: 6px 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    right: 4em;
}
.container .navbar .navitem .icons{
    position: relative;
    right: 1em;
}
.container .navbar .navitem .icons ul li{
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin: 0 12px;
    color: #33cc33;
}
.container .navbar .navitem  .account{
    position: relative;
    display: flex;
    align-items: center;
}
.container .navbar .navitem  .account img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.container .navbar .navitem  .account .name{
    text-transform: capitalize;
    margin: 0 8px;
    font-weight: 700;
}
.container .navbar .navitem  .account .username{
    position: absolute;
    top: 30px;
    left: 48px;
    font-size: 12px;
}
.container-body{
    display: grid;
    grid-template-columns: 18% auto;
}
.container-body .sidebar{
    margin: 20px 0 20px 20px;
    background: rgba(255,255,255, .8);
    border-radius: 14px;
    padding: 10px;
}
.container-body .sidebar ul li{
    padding: 10px 10px;
    margin: 10px 0;
}
.container-body .sidebar ul li a{
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
}
.container-body .sidebar ul li .fa{
    font-size: 18px;
    padding: 0 5px;
}
.container-body .sidebar ul .dashboard{
    background: #0b34e5;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
}
.container-body .sidebar ul .dashboard a{
    color: #fff;
}
.container-body .main-body .tittle{
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
}
.container-body .main-body .tittle .greeting{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}
.container-body .main-body .tittle h2{
    font-size: 25px;
    font-weight: normal;
}
.container-body .main-body .cards{
    display: grid;
    grid-template-rows: 180px 140px;
    grid-gap: 20px;
    padding: 20px;
}
.container-body .main-body .cards .row-1{
    display: grid;
    grid-template-columns: 30% 40% auto;
    grid-gap: 20px;
}
.container-body .main-body .cards .row-2{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
.container-body .main-body .cards .row .col{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}