#svg_form_time {
    height: 15px;
    max-width: 80%;
    margin: 40px auto 20px;
    display: block;
}

#svg_form_time circle,
#svg_form_time rect {
    fill: white;
}

.button {
    background: rgb(237, 40, 70);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}

.disabled {
    display: none;
}

section {
    padding: 50px;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

input {
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family: inherit;
    background: white;
}

p {
    text-align: justify;
    margin-top: 0;
}

select {
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family: inherit;
    background: white;
}